header {
  background-color: antiquewhite;
}
header nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  font-size: 1.5rem;
  padding: 10px;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

nav ul li:hover {
  cursor: pointer;
  color: aqua;
}
