header {
  background-color: antiquewhite;
}
header nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  font-size: 1.5rem;
  padding: 10px;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

nav ul li:hover {
  cursor: pointer;
  color: aqua;
}
.custom-card {
  margin-top: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: rgb(88, 255, 255);
  max-width: fit-content;
  border-radius: 8px;
}
.home {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.title {
  color: red;
  font-weight: bold;
  font-size: 2rem;
}
